#page-blocks-workflow-editcomment .editor_atto_content{
  min-height: 222px !important;
  height: 222px !important;
}

.block_workflow button {
    margin-top: 10px;
}

section[data-block="workflow"] h3 {
    font-size: 1.1rem !important;
    font-weight: 400 !important;
}

section[data-block="login"] {
  margin-top: 120px;
}
