@media only screen and (max-width: 479px) {                                     //reduced margin and padding for better formatting on mobile
  .course-content ul.section {
      margin: 0 !important;
  }

  .section .label .contentwithoutlink, .section .label .activityinstance {
    padding-right: 0 !important;
  }

  .onetopic .nav-item {                                                         //onetopic tabs take full width on mobile
    width: 100%;
    margin-bottom: 3px;
  }

  #region-main{
    padding: 0;
  }

  .section .label .mod-indent-outer {
      padding-left: 0px;
  }

  .mr-auto, .mx-auto {
      display: none;
  }
}

@media only screen and (max-width: 1119px){
  // [data-region='blocks-column'] {
  //     padding-top: 10px;
  // }
}

@media only screen and (min-width: 1380px){
  #region-main {
      padding: 3.5rem 4.25rem;
  }
}

/* Grading page */
.path-mod-assign [data-region="grade-panel"].fullwidth [data-region="grade"]{
    background-color: #fff;
    padding: 30px;
}

#page-mod-assign-grading .alert {
    margin-top: 25px;
}

#page-mod-assign-grader {
  .col-md-3 {
    max-width: 30%;
  }
  .form-group {
      padding-bottom: 10px;
  }
}

/* onetopic START */
#page-course-view-onetopic, #page-course-view-nonumbers {
  .tab_content {
      color: $white;
      background-color: $primary;
      border: 1px solid $primary;
      border-radius: 5px 5px 0 0;
      margin-left: 3px;
      &:hover {
        color: $black !important;
        background-color: $white !important;
        border: 1px solid #e0e0e0 !important;
      }

      .marker{
        font-style: italic !important;
      }
  }

  .form-item.clearfix.form-group.row.fitem {
    padding-left: 15px;
  }

  .nav-link.active .tab_content {
      background-color: $white;
      color: $black;
  }

  .nav-tabs .nav-link {
      border: none !important;
      &.active .tab_content{
        border-color: #e0e0e0;
      }
  }

  aside.block-region{
    margin-top: 35px;
  }

  .course-content .current::before {
      display: none;
  }

  .course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
    margin: 30px 0;
  }
}

.format-onetopic{
  .marker {
    font-style: italic;
    font-weight: inherit !important;
  }

  .nav-tabs .nav-item .active {
      font-weight: 700;
  }
}
/* onetopic END */

/* Board format START*/
.format-board .block-region {                                                   //on the board format, allow space above blocks column for unit dates and unit descriptor
    padding-top: 30px;
}
/* Board format END*/

/* User tour reset link at bottom of grading page START */
.tool_usertours-resettourcontainer {
    width: 100%;

    .usertour {
    margin-bottom: 20px;
    text-align: center;
  }
}

.usertour {
  text-align: center;
  padding-top: 15px;
}
/* User tour reset link at bottom of grading page END */

/* Course participants page START */
  .lastinitial .initialbarlabel {
      padding-right: 11px;
  }

  .initialbar.lastinitial {
      margin-bottom: 30px;
  }

  #checkallonpage, #checknone {
    margin-right: 10px;
  }
/* Course participants page END */

#forummenu input {                                                              //spacing between buttons on forum pages
    margin-left: 10px;
}

.dropdown-toggle {
    font-family: "Open Sans",sans-serif !important;                             //prevent dropdown menu font being overriden by fontawesome
}

/* Course text overrides START */
.dimmed_text span, .dimmed_text p{                                              //ensures hidden text on course pages will always be grey for users who can edit
	color: #999 !important;
}

section#region-main {
  .editor_atto h1[style],
  .editor_atto h2[style],
  .editor_atto h3[style],
  .editor_atto h4[style],
  .editor_atto h5[style],
  .editor_atto h1,
  .editor_atto h2,
  .editor_atto h3,
  .editor_atto h4,
  .editor_atto h5,
  .single-section h1,
  .single-section h2,
  .single-section h3,
  .single-section h4,
  .single-section h5,
  .single-section h1[style],
  .single-section h2[style],
  .single-section h3[style],
  .single-section h4[style],
  .single-section h5[style] {
      font-family: Open Sans,sans-serif !important;
      font-weight: 400;
      letter-spacing: normal!important;
      line-height: 25px!important;
      padding-top: 30px!important;
      padding-left: 0px!important;
      margin-left: 0px!important;
  }

  .single-section h1, .single-section h1[style]{
    font-size: 1.45rem !important;
  }
  .single-section h2, .single-section h2[style]{
    font-size: 1.45rem !important;
  }
  .single-section h3, .single-section h3[style]{
    font-size: 1.35rem !important;
  }
  .single-section h4, .single-section h4[style]{
    font-size: 1.25rem !important;
  }
  .single-section h5, .single-section h5[style]{
    font-size: 1.15rem !important;
  }
}

section#region-main .editor_atto span[style*="font-size: small;"],
section#region-main .editor_atto span[style*="font-size: normal;"],
section#region-main .editor_atto span[style*="font-size: medium;"],
section#region-main .editor_atto span[style*="font-size: large;"],
section#region-main .editor_atto span[style*="font-size: x-large;"],
section#region-main .editor_atto span[style*="font-style: normal;"],
section#region-main .single-section span[style*="font-size: small;"],
section#region-main .single-section span[style*="font-size: normal;"],
section#region-main .single-section span[style*="font-size: medium;"],
section#region-main .single-section span[style*="font-size: large;"],
section#region-main .single-section span[style*="font-size: x-large;"],
section#region-main .single-section span[style*="font-style: normal;"],
section#region-main .single-section p {
    font-family: "Open Sans",sans-serif !important;
    font-size: 15px !important;
    font-weight: 400;
    letter-spacing: 0.45px !important;
    line-height: 25px !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}
/* Course text overrides END */

/* Activity/content overrides START */
.section li.activity {
    padding: .5em;
}

.activity img.activityicon {
    margin-right: 20px;
    vertical-align: middle;
}

img.iconlarge {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

div[class^="mod-indent"]{
	margin-left: 0px !important;
	padding-left: 20px !important;
}

@media (max-width: 480px) {
	div[class^="mod-indent"]{
		padding-left: 0px !important;
	}

	div.editor-indent{
		margin-left :0px;
	}

	.section .label .contentwithoutlink, .section .label .activityinstance {
		padding-right: 0px;
	}
}

div[class*="mod-indent-1"],
div[class*="mod-indent-2"],
div[class*="mod-indent-3"],
div[class*="mod-indent-4"],
div[class*="mod-indent-5"],
div[class*="mod-indent-6"],
div[class*="mod-indent-7"]
{
	width: 0px !important;
}

div.contentafterlink, div.activityinstance {
    padding-left: 0px;
}
/* Activity/content overrides END */
table caption { /* Calendar heading font-size */
    font-size: initial;
    text-align: center;
}

.unit-details{
  padding-top: 35px;
}

#page-course-view-onetopic #region-main-settings-menu.has-blocks, #page-course-view-onetopic #region-main.has-blocks {
  padding-top: 25px;
}

#course_format_onetopic_config_movesection{
  border-top: $border;
  margin-top: 30px;
  padding-top: 20px;
}

/* Course restore */
#fitem_id_setting_root_restore_quickmail_history, #fitem_id_static_setting_root_restore_quickmail_history {
    display: block;
}
// Scale dropdown width
[data-fieldtype="modgrade"] {
    max-width: 50%;
}

/* Checklist */
.path-mod-checklist .checklist{
  label{
    padding-left: 10px;
  }
  li{
    padding-bottom:5px;
  }
}
