#page-site-index {

    header {
      display: none;
    }

    #region-main-box {
      background-image: url(/theme/solent/pix/login.jpg);
      background-repeat: no-repeat;
      min-height: 570px !important;
    }

    section#region-main {
      display: none;
    }

    footer {
      position: static;
    }

}
