.pagelayout-frontpage {

    nav.fixed-top.navbar {
      padding-right: 16px !important;
    }

    header {
      display: none;
    }

    #region-main-box {
      background-image: url(/theme/solent/pix/login.jpg);
      background-repeat: no-repeat;
      min-height: 570px !important;
      background-size: cover;
      background-position: center;
    }

    section#region-main {
      display: none;
    }

    .tool_usertours-resettourcontainer {
    width: 0;
    }

    footer {
      position: relative !important;
    }

}
