.navbar {
    .navbar-brand{
        letter-spacing: .25em;
        text-transform: uppercase;
        text-decoration: none;
        vertical-align: middle;
        font-size: calc(24px + 1vw);
    
        @media screen and (min-width: 1200px) {
            font-size: 24px;
        }     
        
        @media screen and (max-width: 1200px) {
            font-size: calc(12px + 1vw);
        }      
    
        @media screen and (max-width: 768px) {  
            margin-right: 0;
            font-size: calc(12px + 0.8vw);
            .site-name {
                display: inline !important;        
            }
        }
    
        @media screen and (max-width: 576px) { 
            display: inline !important;
            width: 100px;
            white-space: normal;
            line-height: $line-height-base;
            font-size: calc(12px + .4vw);
        } 
    }

    @media screen and (max-width: 356px) { 
        .mr-3, .mx-3 {
            margin-right: 0.2rem !important;
        }
        
        .navbar-brand{
            width: 50px;
            font-size: calc(12px + .2vw);           
        }
    }
    
    .popover-region-toggle {
        width: 30px;
        &.nav-link {
            padding-left: 0;
            padding-right: 0;
        }
        .icon {
            font-size: 25px;
            opacity: 0.7;
        }
    }
    
    .nav-item:first-of-type {
        margin-right: 20px;
    }
    
    /* Navdrawer button */
    button {
        padding: 2px 0 2px 0;
        background-color: $primary;
        &:hover {
          background-color: $white;
          border-color: #b1bbc4;
        }
        
        &:hover span.icon-bar{
            background: $black;
        }
        
        span.icon-bar {
            background-color: $white;
            display: block;
            width: 22px;
            margin-top: 6px;
            height: 2px;
            transition: all 0.3s;
        }

        span.icon-bar.top-bar {
            margin-top: 0;
        }
    }	
    
    /* Navdrawer button toggle animation */
    button[aria-expanded="true"] {                                        
        span.icon-bar.top-bar {
            transform: translateY(8px) rotate(45deg);
        }

        span.icon-bar.middle-bar {
            opacity: 0;
        }

        span.icon-bar.bottom-bar {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}