.navbar {
    height: $navbar-height;
}

#nav-drawer{
  background-color: $white;
  border-right: 1px solid #ddd;
}
.navbar-brand{
  margin-left: 0;
  margin-top: 10px;
  font-size: 28px;
  letter-spacing: .25em;
  text-transform: uppercase;
}

@media only screen and (max-width: 870px){
  .navbar-brand{
    width: 150px;
    display: block !important;
    word-break: break-word;
    white-space: normal;
    font-size: 10pt;
    line-height: 11pt;
    margin-left: 0;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.navbar-nav .icon {
    font-size: 25px;
    opacity: .7;
}
