@media only screen and (max-width: 1100px){
  .navbar-brand{
    width: 95px;
    display: block !important;
    white-space: normal;
    font-size: 10pt !important;
    line-height: 11pt;
    margin-left: 0;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media only screen and (min-width: 650px) {
  .usertext {
    display: inline !important;
  }
}

@media only screen and (max-width: 415px) {
  .navbar {
    .nav-item .nav-link {
      margin-left: -8px !important;
    }

    .navbar-brand {
      margin-right: 0 !important;
    }

    .dropdown {
      margin-left: -1px !important;
    }

    .usermenu {
      margin-right: -10px !important;
    }
  }

  nav .mr-3 {
    margin-right: 7px !important;
  }
}

.navbar {
    height: $navbar-height;

    .count-container {
        right: -15px;
        font-size: 13px;
        font-weight: 600;
        padding: 3px;
    }

    a[id*="message-drawer-toggle"] .count-container{
      right: -18px;
    }

    .popover-region-notifications{
      right: -15px;
    }

    .popover-region {
        margin-right: 20px;
    }

    .usertext {
    font-family: 'Open Sans', sans-serif !important;
    }

    /* .popover-region-toggle .navbar-nav .icon {
        font-size: 28px !important;
    } */

    button {
        padding: 2px 0 2px 0;
        background-color: $primary;
        &:hover {
          background-color: $white;
          border-color: #b1bbc4;
        }
        &:hover span.icon-bar{
          background: $black;
        }

      span.icon-bar {
        background-color: $white;
        display: block;
        width: 22px;
        margin-top: 6px;
        height: 2px;
        transition: all 0.3s;
      }

      span.icon-bar.top-bar {
        margin-top: 0;
      }
    }

    button[aria-expanded="true"] {                                         //navdrawer button toggle animation

      span.icon-bar.top-bar {
        transform: translateY(8px) rotate(45deg);
      }

      span.icon-bar.middle-bar {
        opacity: 0;
    }

      span.icon-bar.bottom-bar {
        transform: translateY(-8px) rotate(-45deg);
    }
  }

    .dropdown {
      margin-left: 20px;
  }

  .d-md-inline {
      display: inline!important;
  }

  .navbar-brand{
    margin-left: 0;
    font-size: 28px;
    letter-spacing: .25em;
    text-transform: uppercase;
  }

  .nav-item {
    .nav-link {
      margin-left: 10px;
    }
  }

  .popover-region-toggle .icon {
    font-size: 25px;
    opacity: .7;
  }

}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 1.5rem;
}

.popover-region-toggle::after {
      border-bottom: 9px solid transparent !important;
}
