/* stylelint-disable declaration-no-important */
body {
    background-color: $white !important;
    color: $font-color;
    letter-spacing: .8px;
}

#region-main {
    border: none;
}

#region-main-box {
    background-color: $white; // Ensures the main content will always fully overlap the footer
}

.dropdown-item {
    a {
        display: block;
        width: 100%;
        color: $font-color;
    }
    &:active,
    &:hover,
    &:focus,
    &:focus-within {
        outline: 0;
        background-color: $dropdown-link-hover-bg;
        a,
        .icon {
            color: $dropdown-link-active-color;
        }
    }
    &[aria-current="true"] {
        position: relative;
        display: flex;
        align-items: center;
        &:before {
            @include fa-icon();
            content: $fa-var-circle;
            position: absolute;
            left: 0.4rem;
            font-size: 0.7rem;
        }
    }
}

.progress-bar {
    background-color: #9bae4d !important;
}

/* Goto top button  */
#goto-top-link {
    z-index: 9;
}

#goto-top-link .btn {
    background-color: $primary;
    border-color: $primary;
    color: $white;
}
/* Goto top button */
