@media only screen and (min-width: 1380px){
  #region-main {
      padding: 4.25rem;
  }
}

body{
  background-color: $white !important;
}

#region-main {
    border: none;
}

#region-main-box {
  background-color: $white;                                                     //ensures the main content will always fully overlap the footer
  min-height: -webkit-fill-available !important;
  min-height: 1002px;
  z-index: 1;
}

#page-content {                                                                 //remove padding which affects the display of the footer
  padding-bottom: 0 !important;
  z-index: 1;
  background-color: $white;
}

.dropdown-item:active {
    background-color: #e6e6e6;
    color: $black;
}

.header-image .card{
  background-color: $body-body-bg !important;
  border: none;
}

[data-region='blocks-column']{
  padding-top: 4.25rem;
}

.pagelayout-mydashboard [data-region='blocks-column']{
  padding-top: 0;
}

.path-admin-theme .singlebutton {                                               //adds space between buttons on theme select page
    margin-bottom: 20px;
}

.tool_usertours-resettourcontainer {                                            //user tour reset link at bottom of page
    width: 100%;

    .usertour {
    margin-bottom: 20px;
    text-align: center;
  }
}
