@media only screen and (max-width: 480px){                                   //mobile layout for the unit header

  .pagelayout-course #page-header{
    .page-header-headings {
      display: none !important;
    }

    .d-flex, .context-header-settings-menu, .region-main-settings-menu {
      margin: 0 !important;
  	}
  }

	.header-image {
    height: auto !important;
    background-image: none !important;

    .card .card-body {
      padding: 0 !important;
  	}
	}
}

@media only screen and (min-width: 480px){

  .pagelayout-course #page-header{

    min-height: 215px;

    .breadcrumb{
      display: none;
    }

    .dropdown {
      margin-top: -60px;
    }
  }
}

@media only screen and (max-width:900px) and (min-width: 480px) {

  .pagelayout-course #page-header{
    .page-header-headings h1 {
        font-size: 1.34375rem !important;
    }
  }
}

.pagelayout-course {
	#page-header{

		.header-image{
			.card-body, .card {
				background: transparent !important;
			}
		}

		.dropdown {
			 background-color: rgba(255,255,255,.9);
			 border-radius: 3px;
			 padding: 5px 5px 3px 5px;

		 /* Black gear dropdown menu icon */
		 a {
				 color: $font-color;
		 }
	 }

		.page-header-headings {
			 display: inline-block;
			 padding: 0 45px 0 25px;
			 color: #fff;
			 letter-spacing: .25em;
			 text-transform: uppercase;
			 background: rgba(0,0,0,0.40);
			 position: absolute;
			 webkit-clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
			 clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);

			 h1{
				margin: 10px 0 10px 0;
			 }
		 }

		.pb-3, .py-3 {
    	padding-bottom: 0 !important;
		}

		.d-flex {
		  display: flex!important;
		  margin: 40px -33px 0 -35px;

			#page-navbar {
	    	width: 100.11%																													//breadcrumbs width needs to be slightly over 100% to break out the div and reach the edge of the page
			}
		}

		.page-context-header{
			.header-button-group {
		    position: relative;
		    line-height: 24px;
		    vertical-align: middle;
				padding-left: 25px;
			}
		}
	}
}

header.header-image{
	max-height: 250px;
	margin-top: 80px;
	margin-bottom: 20px;
	margin-right: -12px;
	margin-left: -15px;
}

.divcoursefieldset {
  padding-top: 20px;
}

/* Course settings dropdown menu */
#course-header .dropdown {
    background-color: rgba(255,255,255,.9);
    border-radius: 5px;
    padding: 5px;
		margin-top: 0 !important;
}

/* stops part of the header image being hidden behind navbar  */
.unit_title_container {
    margin-top: 80px;
}

#page-header .card-body, #page-header .card {
    background: transparent !important;
    background-position: center;
}

.pagelayout-course div#page-header.opt00{
	background-color: #EAEAEA;
}
.header-image.opt01{
	background-image: url("/theme/solent/pix/unit-header/01.png");
}
.header-image.opt02{
	background-image: url("/theme/solent/pix/unit-header/02.png");
}
.header-image.opt03{
	background-image: url("/theme/solent/pix/unit-header/03.png");
}
.header-image.opt04{
	background-image: url("/theme/solent/pix/unit-header/04.png");
}
.header-image.opt05{
	background-image: url("/theme/solent/pix/unit-header/05.png");
}
.header-image.opt06{
	background-image: url("/theme/solent/pix/unit-header/06.png");
}
.header-image.opt07{
	background-image: url("/theme/solent/pix/unit-header/07.png");
}
.header-image.opt08{
	background-image: url("/theme/solent/pix/unit-header/08.png");
}
.header-image.opt09{
	background-image: url("/theme/solent/pix/unit-header/09.png");
}
.header-image.opt10{
	background-image: url("../theme/solent/pix/unit-header/10.png");
}
.header-image.opt11{
	background-image: url("/theme/solent/pix/unit-header/11.png");
}
.header-image.opt12{
	background-image: url("/theme/solent/pix/unit-header/12.png");
}
.header-image.opt13{
	background-image: url("/theme/solent/pix/unit-header/13.png");
}
.header-image.opt14{
	background-image: url("/theme/solent/pix/unit-header/14.png");
}
.header-image.opt15{
	background-image: url("/theme/solent/pix/unit-header/15.png");
}
.header-image.opt16{
	background-image: url("/theme/solent/pix/unit-header/16.png");
}
.header-image.opt17{
	background-image: url("/theme/solent/pix/unit-header/17.png");
}
.header-image.opt18{
	background-image: url("/theme/solent/pix/unit-header/18.png");
}
.header-image.opt19{
	background-image: url("/theme/solent/pix/unit-header/19.png");
}
.header-image.opt20{
	background-image: url("/theme/solent/pix/unit-header/20.png");
}
.header-image.opt21{
	background-image: url("/theme/solent/pix/unit-header/21.png");
}
.header-image.opt22{
	background-image: url("/theme/solent/pix/unit-header/22.png");
}
.header-image.opt23{
	background-image: url("/theme/solent/pix/unit-header/23.png");
}
.header-image.opt24{
	background-image: url("/theme/solent/pix/unit-header/24.png");
}
.header-image.opt25{
	background-image: url("/theme/solent/pix/unit-header/25.png");
}
.header-image.opt26{
	background-image: url("/theme/solent/pix/unit-header/26.png");
}
.header-image.opt27{
	background-image: url("/theme/solent/pix/unit-header/27.png");
}
.header-image.opt28{
	background-image: url("/theme/solent/pix/unit-header/28.png");
}
.header-image.opt29{
	background-image: url("/theme/solent/pix/unit-header/29.png");
}
.header-image.opt30{
	background-image: url("/theme/solent/pix/unit-header/30.png");
}
.header-image.opt31{
	background-image: url("/theme/solent/pix/unit-header/31.png");
}
.header-image.opt32{
	background-image: url("/theme/solent/pix/unit-header/32.png");
}
.header-image.opt33{
	background-image: url("/theme/solent/pix/unit-header/33.png");
}
.header-image.opt34{
	background-image: url("/theme/solent/pix/unit-header/34.png");
}
.header-image.opt35{
	background-image: url("/theme/solent/pix/unit-header/35.png");
}
.header-image.opt36{
	background-image: url("/theme/solent/pix/unit-header/36.png");
}
/* Images */
.header-image.opt50{
	background-image: url("/theme/solent/pix/unit-header/50.png");
}
.header-image.opt51{
	background-image: url("/theme/solent/pix/unit-header/51.png");
}
.header-image.opt52{
	background-image: url("/theme/solent/pix/unit-header/52.png");
}
.header-image.opt53{
	background-image: url("/theme/solent/pix/unit-header/53.png");
}
.header-image.opt54{
	background-image: url("/theme/solent/pix/unit-header/54.png");
}
.header-image.opt55{
	background-image: url("/theme/solent/pix/unit-header/55.png");
}
.header-image.opt56{
	background-image: url("/theme/solent/pix/unit-header/56.png");
}
.header-image.opt57{
	background-image: url("/theme/solent/pix/unit-header/57.png");
}
.header-image.opt58{
	background-image: url("/theme/solent/pix/unit-header/58.png");
}
.header-image.opt59{
	background-image: url("/theme/solent/pix/unit-header/59.png");
}
.header-image.opt60{
	background-image: url("/theme/solent/pix/unit-header/60.png");
}
.header-image.opt61{
	background-image: url("/theme/solent/pix/unit-header/61.png");
}
.header-image.opt62{
	background-image: url("/theme/solent/pix/unit-header/62.png");
}
.header-image.opt63{
	background-image: url("/theme/solent/pix/unit-header/63.png");
}
.header-image.opt64{
	background-image: url("/theme/solent/pix/unit-header/64.png");
}
.header-image.opt65{
	background-image: url("/theme/solent/pix/unit-header/65.png");
}
.header-image.opt66{
	background-image: url("/theme/solent/pix/unit-header/66.png");
}
.header-image.opt67{
	background-image: url("/theme/solent/pix/unit-header/67.png");
}
.header-image.opt68{
	background-image: url("/theme/solent/pix/unit-header/68.png");
}
.header-image.opt69{
	background-image: url("/theme/solent/pix/unit-header/69.png");
}
.header-image.opt70{
	background-image: url("/theme/solent/pix/unit-header/70.png");
}
.header-image.opt71{
	background-image: url("/theme/solent/pix/unit-header/71.png");
}
.header-image.opt72{
	background-image: url("/theme/solent/pix/unit-header/72.png");
}
.header-image.opt73{
	background-image: url("/theme/solent/pix/unit-header/73.png");
}
.header-image.opt74{
	background-image: url("/theme/solent/pix/unit-header/74.png");
}
.header-image.opt75{
	background-image: url("/theme/solent/pix/unit-header/75.png");
}
.header-image.opt76{
	background-image: url("/theme/solent/pix/unit-header/76.png");
}
.header-image.opt77{
	background-image: url("/theme/solent/pix/unit-header/77.png");
}
.header-image.opt78{
	background-image: url("/theme/solent/pix/unit-header/78.png");
}
.header-image.opt79{
	background-image: url("/theme/solent/pix/unit-header/79.png");
	background-position: right;
}
.header-image.opt80{
	background-image: url("/theme/solent/pix/unit-header/80.png");
	background-position: right;
}
.header-image.opt81{
	background-image: url("/theme/solent/pix/unit-header/81.png");
}
.header-image.opt82{
	background-image: url("/theme/solent/pix/unit-header/82.png");
	background-position: right;
}
.header-image.opt83{
	background-image: url("/theme/solent/pix/unit-header/83.png");
}
.header-image.opt84{
	background-image: url("/theme/solent/pix/unit-header/84.png");
	background-position: center;
}

.header-image.optlt-helpdesk{
	background-image: url("/theme/solent/pix/unit-header/lt-helpdesk.jpg");

}

#page-theme-solent-pix-unit-header-options #region-main.span8{width:100%;}
table#header-options{width:50%; margin:0}

table#header-options img {
    width: 200%;
}

fieldset.coursefieldset{
	display: inline-block;
}

@media (max-width: 480px){
	fieldset.fieldsetheader, div#page-navbar-unit {
		display: none;
	}
}

div.divcoursefieldset{
	text-align: center;
}

/* teach to succeed */
// .video-container {
//     position: relative;
//     padding-bottom: 56.25%;
//     padding-top: 35px;
//     height: 0;
//     overflow: hidden;
// }
//
// .video-container iframe {
//     position: absolute;
//     top:0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }
