@media only screen and (max-width: 479px){                                   //mobile layout for the unit header

  .pagelayout-course #page-header{
    .page-header-headings {
      display: none !important;
    }

    .d-flex, .context-header-settings-menu, .region-main-settings-menu {
      margin: 0 !important;
  	}
  }

	.header-image {
    height: auto !important;
    background-image: none !important;

    .card .card-body {
      padding: 0 !important;
  	}
	}
}

@media only screen and (min-width: 480px){

  .pagelayout-course #page-header{

    min-height: 215px;

    .breadcrumb{
      display: none;
    }

    .dropdown {
      margin-top: -60px;
    }
  }
}

@media only screen and (max-width:900px) and (min-width: 480px) {

  .pagelayout-course #page-header{
    .page-header-headings h1 {
        font-size: 1.34375rem !important;
    }
  }
}

.pagelayout-course {
	#page-header{

		.header-image{
			.card-body, .card {
				background: transparent !important;
			}
		}

		.dropdown {
			 background-color: rgba(255,255,255,.9);
			 border-radius: 3px;
			 padding: 5px 5px 3px 5px;

		 /* Black gear dropdown menu icon */
		 a {
				 color: $font-color;
		 }
	 }

		.page-header-headings {
			 display: inline-block;
			 padding: 0 45px 0 25px;
			 color: #fff;
			 letter-spacing: .25em;
			 text-transform: uppercase;
			 background: rgba(0,0,0,0.40);
			 position: absolute;
			 webkit-clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
			 clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);

			 h1{
				margin: 10px 0 10px 0;
			 }
		 }

		.pb-3, .py-3 {
    	padding-bottom: 0 !important;
		}

		.d-flex {
		  display: flex!important;
		  margin: 40px -33px 0 -35px;

			#page-navbar {
	    	width: 100.11%																													//breadcrumbs width needs to be slightly over 100% to break out the div and reach the edge of the page
			}
		}

		.page-context-header{
			.header-button-group {
		    position: relative;
		    line-height: 24px;
		    vertical-align: middle;
				padding-left: 25px;
			}
		}
	}
}

.divcoursefieldset {
  padding-top: 20px;
}

/* Course settings dropdown menu */
#course-header .dropdown {
    background-color: rgba(255,255,255,.9);
    border-radius: 5px;
    padding: 5px;
		margin-top: 0 !important;
}

/* stops part of the header image being hidden behind navbar  */
.unit_title_container {
    margin-top: 80px;
}

#page-header .card-body, #page-header .card {
    background: transparent !important;
    background-position: center;
}

.pagelayout-course div#page-header.opt00{
	background-color: #EAEAEA;
}

.header-image{
  background-position: center;
}

.header-image.opt01{
	background-image: url("/theme/solent/pix/unit-header/01.png");
}
.header-image.opt02{
	background-image: url("/theme/solent/pix/unit-header/02.png");
}
.header-image.opt03{
	background-image: url("/theme/solent/pix/unit-header/03.png");
}
.header-image.opt04{
	background-image: url("/theme/solent/pix/unit-header/04.png");
}
.header-image.opt05{
	background-image: url("/theme/solent/pix/unit-header/05.png");
}
.header-image.opt06{
	background-image: url("/theme/solent/pix/unit-header/06.png");
}
.header-image.opt07{
	background-image: url("/theme/solent/pix/unit-header/07.png");
}
.header-image.opt08{
	background-image: url("/theme/solent/pix/unit-header/08.png");
}
.header-image.opt09{
	background-image: url("/theme/solent/pix/unit-header/09.png");
}
.header-image.opt10{
	background-image: url("/theme/solent/pix/unit-header/10.png");
}
.header-image.opt11{
	background-image: url("/theme/solent/pix/unit-header/11.png");
}
.header-image.opt12{
	background-image: url("/theme/solent/pix/unit-header/12.png");
}
.header-image.opt13{
	background-image: url("/theme/solent/pix/unit-header/13.png");
}
.header-image.opt14{
	background-image: url("/theme/solent/pix/unit-header/14.png");
}
.header-image.opt15{
	background-image: url("/theme/solent/pix/unit-header/15.png");
}
.header-image.opt16{
	background-image: url("/theme/solent/pix/unit-header/16.png");
}
.header-image.opt17{
	background-image: url("/theme/solent/pix/unit-header/17.png");
}
.header-image.opt18{
	background-image: url("/theme/solent/pix/unit-header/18.png");
}
.header-image.opt19{
	background-image: url("/theme/solent/pix/unit-header/19.png");
}
.header-image.opt20{
	background-image: url("/theme/solent/pix/unit-header/20.png");
}
.header-image.opt21{
	background-image: url("/theme/solent/pix/unit-header/21.png");
}
.header-image.opt22{
	background-image: url("/theme/solent/pix/unit-header/22.png");
}
.header-image.opt23{
	background-image: url("/theme/solent/pix/unit-header/23.png");
}
.header-image.opt24{
	background-image: url("/theme/solent/pix/unit-header/24.png");
}
.header-image.opt25{
	background-image: url("/theme/solent/pix/unit-header/25.png");
}
.header-image.opt26{
	background-image: url("/theme/solent/pix/unit-header/26.png");
}
.header-image.opt27{
	background-image: url("/theme/solent/pix/unit-header/27.png");
}
.header-image.opt28{
	background-image: url("/theme/solent/pix/unit-header/28.png");
}
.header-image.opt29{
	background-image: url("/theme/solent/pix/unit-header/29.png");
}
.header-image.opt30{
	background-image: url("/theme/solent/pix/unit-header/30.png");
}
.header-image.opt31{
	background-image: url("/theme/solent/pix/unit-header/31.png");
}
.header-image.opt32{
	background-image: url("/theme/solent/pix/unit-header/32.png");
}
.header-image.opt33{
	background-image: url("/theme/solent/pix/unit-header/33.png");
}
.header-image.opt34{
	background-image: url("/theme/solent/pix/unit-header/34.png");
}
.header-image.opt35{
	background-image: url("/theme/solent/pix/unit-header/35.png");
}
.header-image.opt36{
	background-image: url("/theme/solent/pix/unit-header/36.png");
}
/* Images */

.header-image.opt37{
	background-image: url("/theme/solent/pix/unit-header/37.png");
}
.header-image.opt38{
	background-image: url("/theme/solent/pix/unit-header/38.png");
}
.header-image.opt39{
	background-image: url("/theme/solent/pix/unit-header/39.png");
}
.header-image.opt40{
	background-image: url("/theme/solent/pix/unit-header/40.png");
}
.header-image.opt41{
	background-image: url("/theme/solent/pix/unit-header/41.png");
}
.header-image.opt42{
	background-image: url("/theme/solent/pix/unit-header/42.png");
}
.header-image.opt43{
	background-image: url("/theme/solent/pix/unit-header/43.png");
}
.header-image.opt44{
	background-image: url("/theme/solent/pix/unit-header/44.png");
}
.header-image.opt45{
	background-image: url("/theme/solent/pix/unit-header/45.png");
}
.header-image.opt46{
	background-image: url("/theme/solent/pix/unit-header/46.png");
}
.header-image.opt47{
	background-image: url("/theme/solent/pix/unit-header/47.png");
}
.header-image.opt48{
	background-image: url("/theme/solent/pix/unit-header/48.png");
}
.header-image.opt49{
	background-image: url("/theme/solent/pix/unit-header/49.png");
}
.header-image.opt50{
	background-image: url("/theme/solent/pix/unit-header/50.png");
}
.header-image.opt51{
	background-image: url("/theme/solent/pix/unit-header/51.png");
}
.header-image.opt52{
	background-image: url("/theme/solent/pix/unit-header/52.png");
}
.header-image.opt53{
	background-image: url("/theme/solent/pix/unit-header/53.png");
}
.header-image.opt54{
	background-image: url("/theme/solent/pix/unit-header/54.png");
}
.header-image.opt55{
	background-image: url("/theme/solent/pix/unit-header/55.png");
}
.header-image.opt56{
	background-image: url("/theme/solent/pix/unit-header/56.png");
}
.header-image.opt57{
	background-image: url("/theme/solent/pix/unit-header/57.png");
}
.header-image.opt58{
	background-image: url("/theme/solent/pix/unit-header/58.png");
}
.header-image.opt59{
	background-image: url("/theme/solent/pix/unit-header/59.png");
}
.header-image.opt60{
	background-image: url("/theme/solent/pix/unit-header/60.png");
}
.header-image.opt61{
	background-image: url("/theme/solent/pix/unit-header/61.png");
}
.header-image.opt62{
	background-image: url("/theme/solent/pix/unit-header/62.png");
}
.header-image.opt63{
	background-image: url("/theme/solent/pix/unit-header/63.png");
}
.header-image.opt64{
	background-image: url("/theme/solent/pix/unit-header/64.png");
}
.header-image.opt65{
	background-image: url("/theme/solent/pix/unit-header/65.png");
}
.header-image.opt66{
	background-image: url("/theme/solent/pix/unit-header/66.png");
}
.header-image.opt67{
	background-image: url("/theme/solent/pix/unit-header/67.png");
}
.header-image.opt68{
	background-image: url("/theme/solent/pix/unit-header/68.png");
}
.header-image.opt69{
	background-image: url("/theme/solent/pix/unit-header/69.png");
}
.header-image.opt70{
	background-image: url("/theme/solent/pix/unit-header/70.png");
}
.header-image.opt71{
	background-image: url("/theme/solent/pix/unit-header/71.png");
}
.header-image.opt72{
	background-image: url("/theme/solent/pix/unit-header/72.png");
}
.header-image.opt73{
	background-image: url("/theme/solent/pix/unit-header/73.png");
}
.header-image.opt74{
	background-image: url("/theme/solent/pix/unit-header/74.png");
}
.header-image.opt75{
	background-image: url("/theme/solent/pix/unit-header/75.png");
}
.header-image.opt76{
	background-image: url("/theme/solent/pix/unit-header/76.png");
}
.header-image.opt77{
	background-image: url("/theme/solent/pix/unit-header/77.png");
}
.header-image.opt78{
	background-image: url("/theme/solent/pix/unit-header/78.png");
}
.header-image.opt79{
	background-image: url("/theme/solent/pix/unit-header/79.png");
	background-position: right;
}
.header-image.opt80{
	background-image: url("/theme/solent/pix/unit-header/80.png");
	background-position: right;
}
.header-image.opt81{
	background-image: url("/theme/solent/pix/unit-header/81.png");
}
.header-image.opt82{
	background-image: url("/theme/solent/pix/unit-header/82.png");
	background-position: right;
}
.header-image.opt83{
	background-image: url("/theme/solent/pix/unit-header/83.png");
}
.header-image.opt84{
	background-image: url("/theme/solent/pix/unit-header/84.png");
	background-position: center;
}
.header-image.opt85{
	background-image: url("/theme/solent/pix/unit-header/85.png");
	background-position: center;
}
.header-image.opt86{
	background-image: url("/theme/solent/pix/unit-header/86.jpg");

}
.header-image.opt87{
	background-image: url("/theme/solent/pix/unit-header/87.jpg");

}
.header-image.opt88{
	background-image: url("/theme/solent/pix/unit-header/88.jpg");

}
.header-image.opt89{
	background-image: url("/theme/solent/pix/unit-header/89.jpg");

}
.header-image.opt90{
	background-image: url("/theme/solent/pix/unit-header/90.jpg");

}
.header-image.opt91{
	background-image: url("/theme/solent/pix/unit-header/91.jpg");

}
.header-image.opt92{
	background-image: url("/theme/solent/pix/unit-header/92.jpg");

}
.header-image.opt93{
	background-image: url("/theme/solent/pix/unit-header/93.jpg");

}
.header-image.opt94{
	background-image: url("/theme/solent/pix/unit-header/94.jpg");

}
.header-image.opt95{
	background-image: url("/theme/solent/pix/unit-header/95.jpg");

}
.header-image.opt96{
	background-image: url("/theme/solent/pix/unit-header/96.jpg");

}
.header-image.opt97{
	background-image: url("/theme/solent/pix/unit-header/97.jpg");

}
.header-image.opt98{
	background-image: url("/theme/solent/pix/unit-header/98.jpg");

}
.header-image.opt99{
	background-image: url("/theme/solent/pix/unit-header/99.jpg");

}
.header-image.opt100{
	background-image: url("/theme/solent/pix/unit-header/100.jpg");

}
.header-image.opt101{
	background-image: url("/theme/solent/pix/unit-header/101.jpg");

}
.header-image.opt102{
	background-image: url("/theme/solent/pix/unit-header/102.jpg");

}
.header-image.opt103{
	background-image: url("/theme/solent/pix/unit-header/103.jpg");

}
.header-image.opt104{
	background-image: url("/theme/solent/pix/unit-header/104.jpg");

}
.header-image.opt105{
	background-image: url("/theme/solent/pix/unit-header/105.jpg");

}
.header-image.opt106{
	background-image: url("/theme/solent/pix/unit-header/106.jpg");

}
.header-image.opt107{
	background-image: url("/theme/solent/pix/unit-header/107.jpg");

}
.header-image.opt108{
	background-image: url("/theme/solent/pix/unit-header/108.jpg");

}
.header-image.opt109{
	background-image: url("/theme/solent/pix/unit-header/109.jpg");

}
.header-image.opt110{
	background-image: url("/theme/solent/pix/unit-header/110.jpg");

}
.header-image.opt111{
	background-image: url("/theme/solent/pix/unit-header/111.jpg");

}
.header-image.opt112{
	background-image: url("/theme/solent/pix/unit-header/112.jpg");

}
.header-image.opt113{
	background-image: url("/theme/solent/pix/unit-header/113.jpg");

}
.header-image.opt114{
	background-image: url("/theme/solent/pix/unit-header/114.jpg");

}
.header-image.opt115{
	background-image: url("/theme/solent/pix/unit-header/115.jpg");

}
.header-image.opt116{
	background-image: url("/theme/solent/pix/unit-header/116.jpg");

}
.header-image.opt117{
	background-image: url("/theme/solent/pix/unit-header/117.jpg");

}
.header-image.opt118{
	background-image: url("/theme/solent/pix/unit-header/118.jpg");

}
.header-image.opt119{
	background-image: url("/theme/solent/pix/unit-header/119.jpg");

}
.header-image.opt120{
	background-image: url("/theme/solent/pix/unit-header/120.jpg");

}
.header-image.opt121{
	background-image: url("/theme/solent/pix/unit-header/121.jpg");

}
.header-image.opt122{
	background-image: url("/theme/solent/pix/unit-header/122.jpg");

}
.header-image.opt123{
	background-image: url("/theme/solent/pix/unit-header/123.jpg");

}
.header-image.opt124{
	background-image: url("/theme/solent/pix/unit-header/124.jpg");

}
.header-image.opt125{
	background-image: url("/theme/solent/pix/unit-header/125.jpg");

}
.header-image.opt126{
	background-image: url("/theme/solent/pix/unit-header/126.jpg");

}
.header-image.opt127{
	background-image: url("/theme/solent/pix/unit-header/127.jpg");

}
.header-image.opt128{
	background-image: url("/theme/solent/pix/unit-header/128.jpg");

}
.header-image.opt129{
	background-image: url("/theme/solent/pix/unit-header/129.jpg");

}
.header-image.opt130{
	background-image: url("/theme/solent/pix/unit-header/130.jpg");

}
.header-image.opt131{
	background-image: url("/theme/solent/pix/unit-header/131.jpg");

}
.header-image.opt132{
	background-image: url("/theme/solent/pix/unit-header/132.jpg");

}
.header-image.opt133{
	background-image: url("/theme/solent/pix/unit-header/133.jpg");

}
.header-image.opt134{
	background-image: url("/theme/solent/pix/unit-header/134.jpg");

}
.header-image.opt135{
	background-image: url("/theme/solent/pix/unit-header/135.jpg");

}
.header-image.opt136{
	background-image: url("/theme/solent/pix/unit-header/136.jpg");

}
.header-image.opt137{
	background-image: url("/theme/solent/pix/unit-header/137.jpg");

}
.header-image.opt138{
	background-image: url("/theme/solent/pix/unit-header/138.jpg");

}
.header-image.opt139{
	background-image: url("/theme/solent/pix/unit-header/139.jpg");

}
.header-image.opt140{
	background-image: url("/theme/solent/pix/unit-header/140.jpg");

}
.header-image.opt141{
	background-image: url("/theme/solent/pix/unit-header/141.jpg");

}
.header-image.opt142{
	background-image: url("/theme/solent/pix/unit-header/142.jpg");

}
.header-image.opt143{
	background-image: url("/theme/solent/pix/unit-header/143.jpg");

}
.header-image.opt144{
	background-image: url("/theme/solent/pix/unit-header/144.jpg");

}
.header-image.opt145{
	background-image: url("/theme/solent/pix/unit-header/145.jpg");

}
.header-image.opt146{
	background-image: url("/theme/solent/pix/unit-header/146.jpg");

}
.header-image.opt147{
	background-image: url("/theme/solent/pix/unit-header/147.jpg");

}
.header-image.opt148{
	background-image: url("/theme/solent/pix/unit-header/148.jpg");

}
.header-image.opt149{
	background-image: url("/theme/solent/pix/unit-header/149.jpg");

}
.header-image.opt150{
	background-image: url("/theme/solent/pix/unit-header/150.jpg");

}
.header-image.opt151{
	background-image: url("/theme/solent/pix/unit-header/151.jpg");

}
.header-image.opt152{
	background-image: url("/theme/solent/pix/unit-header/152.jpg");

}
.header-image.opt153{
	background-image: url("/theme/solent/pix/unit-header/153.jpg");

}
.header-image.opt154{
	background-image: url("/theme/solent/pix/unit-header/154.jpg");

}
.header-image.opt155{
	background-image: url("/theme/solent/pix/unit-header/155.jpg");

}
.header-image.opt156{
	background-image: url("/theme/solent/pix/unit-header/156.jpg");

}
.header-image.opt157{
	background-image: url("/theme/solent/pix/unit-header/157.jpg");

}
.header-image.opt158{
	background-image: url("/theme/solent/pix/unit-header/158.jpg");

}
.header-image.opt159{
	background-image: url("/theme/solent/pix/unit-header/159.jpg");

}
.header-image.opt160{
	background-image: url("/theme/solent/pix/unit-header/160.jpg");

}
.header-image.opt161{
	background-image: url("/theme/solent/pix/unit-header/161.jpg");

}
.header-image.opt162{
	background-image: url("/theme/solent/pix/unit-header/162.jpg");

}
.header-image.opt163{
	background-image: url("/theme/solent/pix/unit-header/163.jpg");

}
.header-image.opt164{
	background-image: url("/theme/solent/pix/unit-header/164.jpg");

}
.header-image.opt165{
	background-image: url("/theme/solent/pix/unit-header/165.jpg");

}
.header-image.opt166{
	background-image: url("/theme/solent/pix/unit-header/166.jpg");

}
.header-image.opt167{
	background-image: url("/theme/solent/pix/unit-header/167.jpg");

}
.header-image.opt168{
	background-image: url("/theme/solent/pix/unit-header/168.jpg");

}
.header-image.opt169{
	background-image: url("/theme/solent/pix/unit-header/169.jpg");

}
.header-image.opt170{
	background-image: url("/theme/solent/pix/unit-header/170.jpg");

}
.header-image.opt171{
	background-image: url("/theme/solent/pix/unit-header/171.jpg");

}
.header-image.opt172{
	background-image: url("/theme/solent/pix/unit-header/172.jpg");

}
.header-image.opt173{
	background-image: url("/theme/solent/pix/unit-header/173.jpg");

}
.header-image.opt174{
	background-image: url("/theme/solent/pix/unit-header/174.jpg");

}
.header-image.opt175{
	background-image: url("/theme/solent/pix/unit-header/175.jpg");

}
.header-image.opt176{
	background-image: url("/theme/solent/pix/unit-header/176.jpg");

}
.header-image.opt177{
	background-image: url("/theme/solent/pix/unit-header/177.jpg");

}
.header-image.opt178{
	background-image: url("/theme/solent/pix/unit-header/178.jpg");

}
.header-image.opt179{
	background-image: url("/theme/solent/pix/unit-header/179.jpg");

}
.header-image.opt180{
	background-image: url("/theme/solent/pix/unit-header/180.jpg");

}
.header-image.opt181{
	background-image: url("/theme/solent/pix/unit-header/181.jpg");

}
.header-image.opt182{
	background-image: url("/theme/solent/pix/unit-header/182.jpg");

}
.header-image.opt183{
	background-image: url("/theme/solent/pix/unit-header/183.jpg");

}
.header-image.opt184{
	background-image: url("/theme/solent/pix/unit-header/184.jpg");

}
.header-image.opt185{
	background-image: url("/theme/solent/pix/unit-header/185.jpg");

}
.header-image.opt186{
	background-image: url("/theme/solent/pix/unit-header/186.jpg");

}
.header-image.opt187{
	background-image: url("/theme/solent/pix/unit-header/187.jpg");

}
.header-image.opt188{
	background-image: url("/theme/solent/pix/unit-header/188.jpg");

}
.header-image.opt189{
	background-image: url("/theme/solent/pix/unit-header/189.jpg");

}
.header-image.opt190{
	background-image: url("/theme/solent/pix/unit-header/190.jpg");

}
.header-image.opt191{
	background-image: url("/theme/solent/pix/unit-header/191.jpg");

}
.header-image.opt192{
	background-image: url("/theme/solent/pix/unit-header/192.jpg");

}
.header-image.opt193{
	background-image: url("/theme/solent/pix/unit-header/193.jpg");

}
.header-image.opt194{
	background-image: url("/theme/solent/pix/unit-header/194.jpg");

}
.header-image.opt195{
	background-image: url("/theme/solent/pix/unit-header/195.jpg");

}
.header-image.opt196{
	background-image: url("/theme/solent/pix/unit-header/196.jpg");

}
.header-image.opt197{
	background-image: url("/theme/solent/pix/unit-header/197.jpg");

}
.header-image.opt198{
	background-image: url("/theme/solent/pix/unit-header/198.jpg");

}
.header-image.opt199{
	background-image: url("/theme/solent/pix/unit-header/199.jpg");

}
.header-image.opt200{
	background-image: url("/theme/solent/pix/unit-header/200.jpg");

}
.header-image.opt201{
	background-image: url("/theme/solent/pix/unit-header/201.jpg");

}
.header-image.opt202{
	background-image: url("/theme/solent/pix/unit-header/202.jpg");

}
.header-image.opt203{
	background-image: url("/theme/solent/pix/unit-header/203.jpg");

}
.header-image.opt204{
	background-image: url("/theme/solent/pix/unit-header/204.jpg");

}
.header-image.opt205{
	background-image: url("/theme/solent/pix/unit-header/205.jpg");

}
.header-image.opt206{
	background-image: url("/theme/solent/pix/unit-header/206.jpg");

}
.header-image.opt207{
	background-image: url("/theme/solent/pix/unit-header/207.jpg");

}
.header-image.opt208{
	background-image: url("/theme/solent/pix/unit-header/208.jpg");

}
.header-image.opt209{
	background-image: url("/theme/solent/pix/unit-header/209.jpg");

}
.header-image.opt210{
	background-image: url("/theme/solent/pix/unit-header/210.jpg");

}
.header-image.opt210{
	background-image: url("/theme/solent/pix/unit-header/210.jpg");

}
.header-image.opt211{
	background-image: url("/theme/solent/pix/unit-header/211.jpg");

}
.header-image.opt212{
	background-image: url("/theme/solent/pix/unit-header/212.jpg");

}
.header-image.opt213{
	background-image: url("/theme/solent/pix/unit-header/213.jpg");

}
.header-image.opt214{
	background-image: url("/theme/solent/pix/unit-header/214.jpg");

}
.header-image.opt215{
	background-image: url("/theme/solent/pix/unit-header/215.jpg");

}
.header-image.opt216{
	background-image: url("/theme/solent/pix/unit-header/216.jpg");

}
.header-image.opt217{
	background-image: url("/theme/solent/pix/unit-header/217.jpg");

}
.header-image.opt218{
	background-image: url("/theme/solent/pix/unit-header/218.jpg");

}
.header-image.opt219{
	background-image: url("/theme/solent/pix/unit-header/219.jpg");

}
.header-image.opt220{
	background-image: url("/theme/solent/pix/unit-header/220.jpg");

}
.header-image.opt221{
	background-image: url("/theme/solent/pix/unit-header/221.jpg");

}
.header-image.opt222{
	background-image: url("/theme/solent/pix/unit-header/222.jpg");

}
.header-image.opt223{
	background-image: url("/theme/solent/pix/unit-header/223.jpg");

}
.header-image.opt224{
	background-image: url("/theme/solent/pix/unit-header/224.jpg");

}
.header-image.opt225{
	background-image: url("/theme/solent/pix/unit-header/225.jpg");

}
.header-image.opt226{
	background-image: url("/theme/solent/pix/unit-header/226.jpg");

}
.header-image.opt227{
	background-image: url("/theme/solent/pix/unit-header/227.jpg");

}
.header-image.opt228{
	background-image: url("/theme/solent/pix/unit-header/228.jpg");

}
.header-image.opt229{
	background-image: url("/theme/solent/pix/unit-header/229.jpg");

}
.header-image.opt230{
	background-image: url("/theme/solent/pix/unit-header/230.jpg");

}
.header-image.opt231{
	background-image: url("/theme/solent/pix/unit-header/231.jpg");

}
.header-image.opt232{
	background-image: url("/theme/solent/pix/unit-header/232.jpg");

}
.header-image.opt233{
	background-image: url("/theme/solent/pix/unit-header/233.jpg");

}
.header-image.opt234{
	background-image: url("/theme/solent/pix/unit-header/234.jpg");

}
.header-image.opt235{
	background-image: url("/theme/solent/pix/unit-header/235.jpg");

}
.header-image.opt236{
	background-image: url("/theme/solent/pix/unit-header/236.jpg");

}
.header-image.opt237{
	background-image: url("/theme/solent/pix/unit-header/237.jpg");

}
.header-image.opt238{
	background-image: url("/theme/solent/pix/unit-header/238.jpg");

}
.header-image.opt239{
	background-image: url("/theme/solent/pix/unit-header/239.jpg");

}
.header-image.opt240{
	background-image: url("/theme/solent/pix/unit-header/240.jpg");

}
.header-image.opt241{
	background-image: url("/theme/solent/pix/unit-header/241.jpg");

}
.header-image.opt242{
	background-image: url("/theme/solent/pix/unit-header/242.jpg");

}
.header-image.opt243{
	background-image: url("/theme/solent/pix/unit-header/243.jpg");

}
.header-image.opt244{
	background-image: url("/theme/solent/pix/unit-header/244.jpg");

}
.header-image.opt245{
	background-image: url("/theme/solent/pix/unit-header/245.jpg");

}
.header-image.opt246{
	background-image: url("/theme/solent/pix/unit-header/246.jpg");

}
.header-image.opt247{
	background-image: url("/theme/solent/pix/unit-header/247.jpg");

}
.header-image.opt248{
	background-image: url("/theme/solent/pix/unit-header/248.jpg");

}
.header-image.opt249{
	background-image: url("/theme/solent/pix/unit-header/249.jpg");

}
.header-image.opt250{
	background-image: url("/theme/solent/pix/unit-header/250.jpg");

}
.header-image.opt251{
	background-image: url("/theme/solent/pix/unit-header/251.jpg");

}

#page-theme-solent-pix-unit-header-options #region-main.span8{width:100%;}
table#header-options{width:50%; margin:0}

table#header-options img {
    width: 200%;
}

fieldset.coursefieldset{
	display: inline-block;
}

@media (max-width: 480px){
	fieldset.fieldsetheader, div#page-navbar-unit {
		display: none;
	}
}

div.divcoursefieldset{
	text-align: center;
}

/* teach to succeed */
// .video-container {
//     position: relative;
//     padding-bottom: 56.25%;
//     padding-top: 35px;
//     height: 0;
//     overflow: hidden;
// }
//
// .video-container iframe {
//     position: absolute;
//     top:0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }
