@media only screen and (max-width: 479px){                                   //mobile layout for the unit header

  .pagelayout-course #page-header{
    .page-header-headings {
      display: none !important;
    }

    .d-flex, .context-header-settings-menu, .region-main-settings-menu {
      margin: 0 !important;
  	}
  }

	.header-image {
    height: auto !important;
    background-image: none !important;

    .card .card-body {
      padding: 0 !important;
  	}
	}
}

@media only screen and (min-width: 480px){

  .pagelayout-course #page-header{

    min-height: 215px;

    .breadcrumb{
      display: none;
    }

    .dropdown {
      margin-top: -60px;
    }
  }
}

@media only screen and (max-width:900px) and (min-width: 480px) {

  .pagelayout-course #page-header{
    .page-header-headings h1 {
        font-size: 1.34375rem !important;
    }
  }
}

.pagelayout-course {
	#page-header{

		.header-image{
			.card-body, .card {
				background: transparent !important;
			}
		}

		.dropdown {
			 background-color: rgba(255,255,255,.9);
			 border-radius: 3px;
			 padding: 5px 5px 3px 5px;

		 /* Black gear dropdown menu icon */
		 a {
				 color: $font-color;
		 }
	 }

		.page-header-headings {
			 display: inline-block;
			 padding: 0 45px 0 25px;
			 color: #fff;
			 letter-spacing: .25em;
			 text-transform: uppercase;
			 background: rgba(0,0,0,0.40);
			 position: absolute;
			 webkit-clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
			 clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);

			 h1{
				margin: 10px 0 10px 0;
			 }
		 }

		.pb-3, .py-3 {
    	padding-bottom: 0 !important;
		}

		.d-flex {
		  display: flex!important;
		  margin: 40px 0 0 -35px;

			#page-navbar {
	    	width: 100.11%																													//breadcrumbs width needs to be slightly over 100% to break out the div and reach the edge of the page
			}
		}

		.page-context-header{
			.header-button-group {
		    position: relative;
		    line-height: 24px;
		    vertical-align: middle;
				padding-left: 25px;
			}
		}
	}
}

.divcoursefieldset {
  padding-top: 20px;
}

/* Course settings dropdown menu */
#course-header .dropdown {
    background-color: rgba(255,255,255,.9);
    border-radius: 5px;
    padding: 5px;
		margin-top: 0 !important;
}

/* stops part of the header image being hidden behind navbar  */
.unit_title_container {
    margin-top: 80px;
}

#page-header .card-body, #page-header .card {
    background: transparent !important;
    background-position: center;
}

.pagelayout-course div#page-header.opt00{
	background-color: #EAEAEA;
}

#page-header{
  background-position: center;

  .opt01{
	   background-image: url("../../../../theme/solent/pix/unit-header/01.png");
   }
  .opt02{
  	background-image: url("../../../../theme/solent/pix/unit-header/02.png");
  }
  .opt03{
  	background-image: url("../../../../theme/solent/pix/unit-header/03.png");
  }
  .opt04{
  	background-image: url("../../../../theme/solent/pix/unit-header/04.png");
  }
  .opt05{
  	background-image: url("../../../../theme/solent/pix/unit-header/05.png");
  }
  .opt06{
  	background-image: url("../../../../theme/solent/pix/unit-header/06.png");
  }
  .opt07{
  	background-image: url("../../../../theme/solent/pix/unit-header/07.png");
  }
  .opt08{
  	background-image: url("../../../../theme/solent/pix/unit-header/08.png");
  }
  .opt09{
  	background-image: url("../../../../theme/solent/pix/unit-header/09.png");
  }
  .opt10{
  	background-image: url("../../../../theme/solent/pix/unit-header/10.png");
  }
  .opt11{
  	background-image: url("../../../../theme/solent/pix/unit-header/11.png");
  }
  .opt12{
  	background-image: url("../../../../theme/solent/pix/unit-header/12.png");
  }
  .opt13{
  	background-image: url("../../../../theme/solent/pix/unit-header/13.png");
  }
  .opt14{
  	background-image: url("../../../../theme/solent/pix/unit-header/14.png");
  }
  .opt15{
  	background-image: url("../../../../theme/solent/pix/unit-header/15.png");
  }
  .opt16{
  	background-image: url("../../../../theme/solent/pix/unit-header/16.png");
  }
  .opt17{
  	background-image: url("../../../../theme/solent/pix/unit-header/17.png");
  }
  .opt18{
  	background-image: url("../../../../theme/solent/pix/unit-header/18.png");
  }
  .opt19{
  	background-image: url("../../../../theme/solent/pix/unit-header/19.png");
  }
  .opt20{
  	background-image: url("../../../../theme/solent/pix/unit-header/20.png");
  }
  .opt21{
  	background-image: url("../../../../theme/solent/pix/unit-header/21.png");
  }
  .opt22{
  	background-image: url("../../../../theme/solent/pix/unit-header/22.png");
  }
  .opt23{
  	background-image: url("../../../../theme/solent/pix/unit-header/23.png");
  }
  .opt24{
  	background-image: url("../../../../theme/solent/pix/unit-header/24.png");
  }
  .opt25{
  	background-image: url("../../../../theme/solent/pix/unit-header/25.png");
  }
  .opt26{
  	background-image: url("../../../../theme/solent/pix/unit-header/26.png");
  }
  .opt27{
  	background-image: url("../../../../theme/solent/pix/unit-header/27.png");
  }
  .opt28{
  	background-image: url("../../../../theme/solent/pix/unit-header/28.png");
  }
  .opt29{
  	background-image: url("../../../../theme/solent/pix/unit-header/29.png");
  }
  .opt30{
  	background-image: url("../../../../theme/solent/pix/unit-header/30.png");
  }
  .opt31{
  	background-image: url("../../../../theme/solent/pix/unit-header/31.png");
  }
  .opt32{
  	background-image: url("../../../../theme/solent/pix/unit-header/32.png");
  }
  .opt33{
  	background-image: url("../../../../theme/solent/pix/unit-header/33.png");
  }
  .opt34{
  	background-image: url("../../../../theme/solent/pix/unit-header/34.png");
  }
  .opt35{
  	background-image: url("../../../../theme/solent/pix/unit-header/35.png");
  }
  .opt36{
  	background-image: url("../../../../theme/solent/pix/unit-header/36.png");
  }
  /* Images */
  .opt50{
  	background-image: url("../../../../theme/solent/pix/unit-header/50.png");
  }
  .opt51{
  	background-image: url("../../../../theme/solent/pix/unit-header/51.png");
  }
  .opt52{
  	background-image: url("../../../../theme/solent/pix/unit-header/52.png");
  }
  .opt53{
  	background-image: url("../../../../theme/solent/pix/unit-header/53.png");
  }
  .opt54{
  	background-image: url("../../../../theme/solent/pix/unit-header/54.png");
  }
  .opt55{
  	background-image: url("../../../../theme/solent/pix/unit-header/55.png");
  }
  .opt56{
  	background-image: url("../../../../theme/solent/pix/unit-header/56.png");
  }
  .opt57{
  	background-image: url("../../../../theme/solent/pix/unit-header/57.png");
  }
  .opt58{
  	background-image: url("../../../../theme/solent/pix/unit-header/58.png");
  }
  .opt59{
  	background-image: url("../../../../theme/solent/pix/unit-header/59.png");
  }
  .opt60{
  	background-image: url("../../../../theme/solent/pix/unit-header/60.png");
  }
  .opt61{
  	background-image: url("../../../../theme/solent/pix/unit-header/61.png");
  }
  .opt62{
  	background-image: url("../../../../theme/solent/pix/unit-header/62.png");
  }
  .opt63{
  	background-image: url("../../../../theme/solent/pix/unit-header/63.png");
  }
  .opt64{
  	background-image: url("../../../../theme/solent/pix/unit-header/64.png");
  }
  .opt65{
  	background-image: url("../../../../theme/solent/pix/unit-header/65.png");
  }
  .opt66{
  	background-image: url("../../../../theme/solent/pix/unit-header/66.png");
  }
  .opt67{
  	background-image: url("../../../../theme/solent/pix/unit-header/67.png");
  }
  .opt68{
  	background-image: url("../../../../theme/solent/pix/unit-header/68.png");
  }
  .opt69{
  	background-image: url("../../../../theme/solent/pix/unit-header/69.png");
  }
  .opt70{
  	background-image: url("../../../../theme/solent/pix/unit-header/70.png");
  }
  .opt71{
  	background-image: url("../../../../theme/solent/pix/unit-header/71.png");
  }
  .opt72{
  	background-image: url("../../../../theme/solent/pix/unit-header/72.png");
  }
  .opt73{
  	background-image: url("../../../../theme/solent/pix/unit-header/73.png");
  }
  .opt74{
  	background-image: url("../../../../theme/solent/pix/unit-header/74.png");
  }
  .opt75{
  	background-image: url("../../../../theme/solent/pix/unit-header/75.png");
  }
  .opt76{
  	background-image: url("../../../../theme/solent/pix/unit-header/76.png");
  }
  .opt77{
  	background-image: url("../../../../theme/solent/pix/unit-header/77.png");
  }
  .opt78{
  	background-image: url("../../../../theme/solent/pix/unit-header/78.png");
  }
  .opt79{
  	background-image: url("../../../../theme/solent/pix/unit-header/79.png");
  	background-position: right;
  }
  .opt80{
  	background-image: url("../../../../theme/solent/pix/unit-header/80.png");
  	background-position: right;
  }
  .opt81{
  	background-image: url("../../../../theme/solent/pix/unit-header/81.png");
  }
  .opt82{
  	background-image: url("../../../../theme/solent/pix/unit-header/82.png");
  	background-position: right;
  }
  .opt83{
  	background-image: url("../../../../theme/solent/pix/unit-header/83.png");
  }
  .opt84{
  	background-image: url("../../../../theme/solent/pix/unit-header/84.png");
  	background-position: center;
  }
  .opt85{
  	background-image: url("../../../../theme/solent/pix/unit-header/85.jpg");
  }
}

#page-theme-solent-pix-unit-header-options #region-main.span8{width:100%;}
table#header-options{width:50%; margin:0}

table#header-options img {
    width: 200%;
}

fieldset.coursefieldset{
	display: inline-block;
}

@media (max-width: 480px){
	fieldset.fieldsetheader, div#page-navbar-unit {
		display: none;
	}
}

div.divcoursefieldset{
	text-align: center;
}

/* teach to succeed */
// .video-container {
//     position: relative;
//     padding-bottom: 56.25%;
//     padding-top: 35px;
//     height: 0;
//     overflow: hidden;
// }
//
// .video-container iframe {
//     position: absolute;
//     top:0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }
