/* Grading page */
.path-mod-assign [data-region="grade-panel"].fullwidth [data-region="grade"] {
    background-color: $white;
    padding: 30px;
}

#page-mod-assign-grading .alert {
    margin-top: 25px;
}

#page-mod-assign-grader {
    .col-md-3 {
        max-width: 30%;
    }
    .form-group {
        padding-bottom: 10px;
    }
}