/* Grading page */
/* Add a white background so it stands out from our background */
.path-mod-assign [data-region="grade-panel"].fullwidth [data-region="grade"] {
    background-color: $white;
    padding: 30px;
}

#page-mod-assign-grading .alert {
    margin-top: 25px;
}


#page-mod-assign-grader {
    /* Comment popout button on grader page. Still needed? */
    .col-md-3 {
        max-width: 30%;
    }
}