// Course format (onetopic) style overrides.
/* stylelint-disable */
/* stylelint-disable declaration-no-important */
body.format-onetopic {
    #region-main {
        overflow-x: inherit;
        [data-region="completion-info"] {
            margin-bottom: .5rem;
        }
    }
    ul.format_onetopic-tabs {
        .nav-link {
            margin-bottom: inherit;
        }
        .nav-link.active,
        .nav-link:hover {
            border-color: transparent;
            background-color: $brand-color;
            color: theme-color-level('solent-red', -12);
        }
        li.nav-item {
            &.marker:not(.tab_position_0.tab_level_0) {
                a:before {
                    @extend .fa;
                    content: fa-content($fa-var-lightbulb);
                }
            }
            &.disabled.dimmed {
                a {
                    &:before {
                        @extend .fa;
                        content: fa-content($fa-var-eye-slash);
                    }
                    border-color: $gray-200;
                    color: theme-color-level('primary', 6);
                    opacity: 1;
                    &.nav-link.active,
                    &.nav-link:hover {
                        background-color: $gray-200;
                        color: theme-color-level('primary', 6);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    body.format-onetopic {
        .format_onetopic-tabs {
            &.nav-tabs:not(.more-nav) .nav-link.active:not(:disabled):not(.disabled).active {
                border-color: transparent;
                background-color: $primary;
                color: theme-color-level('primary', -12);
            }
        }
    }
}
