// Course format (onetopic) style overrides.
/* stylelint-disable */
/* stylelint-disable declaration-no-important */
body.format-onetopic {
    #region-main {
        overflow-x: inherit;
    }
    .format_onetopic-tabs {
        .nav-link {
            margin-bottom: inherit;
        }
        .nav-link.active,
        .nav-link:hover {
            border-color: transparent;
            background-color: $brand-color;
            color: theme-color-level('solent-red', -12);
        }
        .nav-item {
            &.parenttab {
                a {
                    @include caret();
                }
            }
            &.marker {
                a:before {
                    @extend .fa;
                    @extend .fa-lightbulb-o;
                }
            }
            &.disabled {
                a {
                    &:before {
                        @extend .fa;
                        @extend .fa-eye-slash;
                    }
                    border-color: $gray-200;
                    color: theme-color-level('primary', 6);
                    &.nav-link.active,
                    &.nav-link:hover {
                        background-color: $gray-200;
                        color: theme-color-level('primary', 6);
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    body.format-onetopic {
        .format_onetopic-tabs {
            &.nav-tabs:not(.more-nav) .nav-link.active:not(:disabled):not(.disabled).active {
                border-color: transparent;
                background-color: $primary;
                color: theme-color-level('primary', -12);
            }
        }
    }
}
