// Course format (onetopic) style overrides.
/* stylelint-disable */
/* stylelint-disable declaration-no-important */
body.format-onetopic {
    #region-main {
        overflow-x: inherit;
    }
    .format_onetopic-tabs {
        .nav-link.active,
        .nav-link:hover {
            border-color: transparent;
            background-color: $brand-color;
            color: theme-color-level('solent-red', -12);
        }
    }
}

@include media-breakpoint-down(sm) {
    body.format-onetopic {
        .format_onetopic-tabs {
            &.nav-tabs:not(.more-nav) .nav-link.active:not(:disabled):not(.disabled).active {
                border-color: transparent;
                background-color: $primary;
                color: theme-color-level('primary', -12);
            }
        }
    }
}
