// Our helpdesk is open... html block.
#inst264829{border: 0 !important;}
#inst264829 .card-body.p-3{padding: 0 !important;}
#inst264829 .card-text.content.mt-3{margin-top: 0 !important;}

// Module leaders - If your students cannot access their modules... Tutor block.
#inst461230{border: 0 !important;}
#inst461230 .card-body.p-3{padding: 0 !important;}
#inst461230 .card-text.content.mt-3{margin-top: 0 !important;}

// Study skills block. Html block.
#inst390774{border: 0 !important;}
#inst390774 .p-3{padding: 0 !important;}
#inst390774 .card-text.content.mt-3{margin-top: 0 !important;}
#inst390774 .atto_image_button_text-bottom.img-responsive {display: inline-block; max-width: 100% !important;margin:0;}

// The university has a delay in processing some marks... Student block.
#inst519944{border: 0 !important;}
#inst519944 .p-3{padding: 0 !important;}
#inst519944 .card-text.content.mt-3{margin-top: 0 !important;}

// The learning technologies desk is situated on the 2nd floor. Html student.
#inst532384{border: 0 !important;}
#inst532384 .p-3{padding: 0 !important;}
#inst532384 .card-text.content.mt-3{margin-top: 0 !important;}

// Doesn't exist anymore.
#inst462864{border: 0 !important;}
#inst462864 .p-3{padding: 0 !important;}
#inst462864 .card-text.content.mt-3{margin-top: 0 !important;}