includes:
    - ../../vendor/micaherne/phpstan-moodle/extension.neon
parameters:
    level: 5
    moodle:
        rootDirectory: %currentWorkingDirectory%
    ignoreErrors:
        -
            message: '#^Variable (?:\$THEME) might not be defined\.$#'
            reportUnmatched: false

        -
            message: '#^Parameter \#1 \$data of function http_build_query expects array\|object, string given\.$#'
            identifier: argument.type
            count: 1
            path: classes/output/mod_assign_renderer.php

        -
            message: '#^Parameter \#3 \$view of class assign_feedback_plugin_feedback constructor expects string, int given\.$#'
            identifier: argument.type
            count: 1
            path: classes/output/mod_assign_renderer.php

        -
            message: '#^Parameter \#3 \$view of class assign_submission_plugin_submission constructor expects string, int given\.$#'
            identifier: argument.type
            count: 2
            path: classes/output/mod_assign_renderer.php

        -
            message: '#^Parameter \#6 \$returnparams of class assign_feedback_plugin_feedback constructor expects array, string given\.$#'
            identifier: argument.type
            count: 1
            path: classes/output/mod_assign_renderer.php

        -
            message: '#^Parameter \#6 \$returnparams of class assign_submission_plugin_submission constructor expects array, string given\.$#'
            identifier: argument.type
            count: 2
            path: classes/output/mod_assign_renderer.php

        -
            message: '#^Variable \$notification might not be defined\.$#'
            identifier: variable.undefined
            count: 1
            path: classes/output/mod_assign_renderer.php
        
        -
            message: '#^Call to method out\(\) on an unknown class core_search\\moodle_url\.$#'
            identifier: class.notFound
            count: 1
            path: classes/output/core_renderer.php

        -
            message: '#^Parameter \#4 \$additionalbuttons of class theme_solent\\output\\context_header constructor expects string\|null, array\<string, array\<string, array\|core\\url\|moodle_page\|string\>\>\|null given\.$#'
            identifier: argument.type
            count: 1
            path: classes/output/core_renderer.php