/* stylelint-disable declaration-no-important */
button.btn-secondary,
.btn.btn-secondary,
.btn.btn-primary,
input.btn-secondary,
.btn.btn-outline-secondary.dropdown-toggle:hover {
    background-color: $btn-secondary-color !important;
    color: $white !important;
    border-color: $btn-secondary-color !important;
    border-radius: 3px;
}

button.btn-secondary:hover,
.btn.btn-secondary:hover,
.btn.btn-primary:hover,
input.btn-secondary:hover,
input.btn-primary:hover {
    background-color: $white !important;
    color: $black !important;
    border-radius: 3px;
}

.path-course-view {
    #page-header {
        button.btn.btn-secondary {
            background-color: $white !important;
            color: $black !important;
        }

        button.btn.btn-secondary:hover {
            background-color: $primary !important;
            color: $white !important;
        }
    }
}

#goto-top-link .btn {
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
    border-left: 1px solid white !important;
}

.dropdown .icon {
    color: $font-color;
}