<form class="search-input-form" action="{{{searchurl}}}" method="get" aria-label="{{#str}}searchcourses{{/str}}">
    <label for="navdrawer-coursesearchbox" class="sr-only">{{#str}}searchcourses{{/str}}</label>
    <input type="text" id="navdrawer-coursesearchbox" value="{{value}}" name="q" 
    placeholder="{{#str}}searchcourses{{/str}}" size="13" class="form-control"><input type="submit" class="btn btn-secondary search-btn" value="{{#str}}search{{/str}}">
    <input name="areaids" type="hidden" value="{{areaids}}">
</form>