{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_solent/header_image_form

    Header image form template.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * options - Array of items
      * currentoptiontext - Current selection text
      * instructiontext - Instruction text
      * action - The option id
      * formid - The form option
      * options - Course id
      * course - Course id

    Example context (json):
    {
        "currentoptiontext": "Option 1 is currently selected.",
        "instructiontext": "Click the radio button next to an image to select it. You will automatically redirected back to the previous page.",
        "action": "/theme/solent/set_header_image.php",
        "formid": 'header-image-form',
        "options": "<tr><td align=\"left\"><input type=\"radio\" id="dots" name=\"opt\" value=\"dots\" checked=\"checked\"></td><td><label for=\"opt\">Option dots<img class=\"header-image-option\" src=\"../pix/unit-header/image1.jpg\"></label></td></tr>",
        "course": 1,
        "id": "headerimageform"
    }
}}

<div>
	<p>{{currentoptiontext}}</p>
	<p>{{instructiontext}}</p>
		<form action="{{action}}" id="{{id}}" method="post">	
			<fieldset class="coursesearchbox invisiblefieldset">
				<table>
					{{{options}}}					
				</table>
				<input type="hidden" id="course" name="course" value="{{course}}"/>
			</fieldset>
		</form>	
</div>

