<div class="col-lg col-md-6 col-sm-12">
    <h3 class="footer__title footer__item nav__item footer_list">{{title}}</h3>
    <ul class="vertical footer_list">
        {{#nodes}}
        <li>
            <a class="footer__item nav__item" href="{{{url}}}" target="_blank">{{{text}}}</a>
        </li>
        {{/nodes}}
    </ul>
</div>