// Solent colours.
$solent-red: #cd1423 !default;
$solent-white: #fff !default;
$solent-black: #000 !default;
$solent-orange: #ff4d00 !default;
$solent-yellow: #ffc11b !default;
$solent-green: #c6c745 !default;
$solent-sky-blue: #01c3de !default;
$solent-teal: #1f988a !default;
$solent-navy: #1d2136 !default;
$solent-purple: #9243f4 !default;
$solent-burgundy: #531623 !default;
$solent-petrol-blue: #083237 !default;
$solent-sea-blue: #0f435f !default;